:root {
  --lh-10: 1.3;
  --mb-10: 1em;
  --fs-50: 1rem; /*13.6px*/
  --fs-100: 1rem; /*16px*/
  --fs-150: 1.05rem; /*18.4px*/
  --fs-200: 1.25rem; /*20px*/
  --fs-300: 1.5rem; /*24px*/
  --fs-400: 1.4rem; /*28px*/
  --fs-500: 2rem; /*32px*/
  --fs-550: 1.5rem; /*36px*/
  --fs-600: 2.5rem; /*40px*/
  --fs-700: 3rem; /*48px*/
  --fs-800: 4rem; /*64px*/
  --fs-900: 8rem; /*128px*/
  --ff-main: "Oswald", sans-serif;
  --clr-side-white: #fff;
  --clr-side-black: #222;
  --clr-main-card: hsl(0, 0%, 100%);
  --clr-primary-white: hsl(0, 0%, 96%);
  --clr-primary-blackish: #4d4747;
  --clr-primary-blue: rgb(62, 143, 235);
  --clr-primary-reddish: rgb(236, 74, 117);
}

@media (max-width: 40em) {
  :root {
    --lh-10: 1.2;
    --mb-10: 0.75em;
    --fs-50: 0.88rem; /*13.6px*/
    --fs-100: 1rem; /*16px*/
    --fs-150: 1.035rem; /*18.4px*/
    --fs-200: 1.25rem; /*19.2px*/
    --fs-300: 1.25rem; /*20px*/
    --fs-400: 1.3rem; /*24px*/
    --fs-500: 1.75rem; /*28px*/
    --fs-550: 1.9rem; /*30.4px*/
    --fs-600: 2.1rem; /*33.6px*/
    --fs-700: 2.25rem; /*36px*/
    --fs-800: 3rem; /*48px*/
    --fs-900: 4rem; /*64px*/
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main);
  color: var(--clr-side-black);
  background-color: var(--clr-primary-white);
  font-weight: normal;
  line-height: var(--lh-10);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: var(--clr-side-black);
  color: var(--clr-side-white);
  flex-basis: 100%;
  text-align: center;
  border-radius: 2px;
}

.btn:hover {
  background-color: var(--clr-primary-blackish) !important;
}

.btn-container {
  gap: 0.85rem;
}

/*============= 
    Typography 
===============*/

ul,
li,
a {
  font-size: var(--fs-100);
  text-decoration: none;
  list-style: none;
  color: var(--clr-primary-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: var(--mb-10);
}

.fs-50 {
  font-size: var(--fs-50);
} /*13.6px*/
.fs-100 {
  font-size: var(--fs-100);
} /*16px*/
.fs-150 {
  font-size: var(--fs-150);
} /*18.4px*/
.fs-200 {
  font-size: var(--fs-200);
} /*20px*/
.fs-300 {
  font-size: var(--fs-300);
} /*24px*/
.fs-400 {
  font-size: var(--fs-400);
} /*28px*/
.fs-500 {
  font-size: var(--fs-500);
} /*32px*/
.fs-550 {
  font-size: var(--fs-550);
} /*36px*/
.fs-600 {
  font-size: var(--fs-600);
} /*40px*/
.fs-700 {
  font-size: var(--fs-700);
} /*48px*/
.fs-800 {
  font-size: var(--fs-800);
} /*64px*/
.fs-900 {
  font-size: var(--fs-900);
} /*128px*/

/*============= 
    Body
===============*/

.wrapper {
  margin: 2rem auto;
  width: min(90%, 47.5rem);
  background-color: var(--clr-main-card);
  padding: 4rem 3rem;
  padding-right: calc(3rem - 14px);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
}

.section-margin {
  margin-bottom: 3rem;
}

.manage {
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
  background-color: var(--clr-primary-blackish);
  color: var(--clr-side-white);
  padding: 1.2rem;
  border-radius: 13px 13px 4px 4px;
  margin-right: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.manage > div {
  background-color: var(--clr-primary-blue);
  min-width: 14.125rem;
  min-height: 3.25rem;
  border-radius: 5px;
}

.balance {
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  justify-content: center;
}

.cash {
  background-color: #eeeeee;
  width: 6.5rem;
  padding: 0.25rem 0.25rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px inset,
    rgba(0, 0, 0, 0.35) -1px -1px 2px inset;
}

.edit-balance {
  align-items: center;
}

.new-transaction {
  padding: 0.5rem;
  display: grid;
  place-items: center;
}

.table {
  gap: 0.75rem;
  max-height: 23.15rem;
}

.table-expenses {
  background-color: var(--clr-primary-blackish);
  color: var(--clr-side-white);
  border-radius: 4px;
  padding: 0.65rem;
  grid-template-columns: 20fr 6fr 1fr;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.cash-edit-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-primary-blue);
  z-index: 1000;
  padding: 4rem 4rem;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.transaction-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-primary-blue);
  z-index: 1000;
  padding: 2rem 1rem;
  border-radius: 8px;
  min-height: 20rem;
}

.modal-question {
  z-index: 1500;
}

.question-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-primary-blue);
  z-index: 1500;
  padding: 3rem 3rem;
  border-radius: 8px;
  color: var(--clr-primary-white);
}

.questiion-yesno {
  margin-top: 1rem;
  justify-content: center;
  gap: 1.5rem;
}

.btn-yesno {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  user-select: none;
  padding: 0.35em 0.75em;
  border-radius: 3px;
  cursor: pointer;
}

.btn-yesno:hover {
  transform: scale(1.015);
}

.yes {
  background-color: rgb(8, 151, 8);
}

.no {
  background-color: rgb(236, 17, 17);
}

.input-text {
  padding: 0.45rem;
  width: 100%;
  margin-top: 0.15rem;
}

.input-text:focus {
  outline: none;
}

.select-container {
  gap: 0.35rem;
  text-align: center;
}

.btn-transaction {
  padding: 0.5em 0.75em;
  cursor: pointer;
  background-color: var(--clr-side-black);
  color: var(--clr-side-white);
  flex-basis: 100%;
  display: grid;
  place-items: center;
  border-radius: 2px;
}

.btn-transaction:hover {
  background-color: var(--clr-primary-blackish) !important;
}

.category-container {
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 12.5rem;
}

.category-container > div {
  padding: 0.75rem;
  background-color: var(--clr-primary-blackish);
  display: grid;
  grid-template-columns: 10fr 1fr;
  border-radius: 4px;
}

.error-message {
  font-size: 0.85rem;
  color: var(--clr-primary-reddish);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.error-message ~ input {
  border: 2px solid var(--clr-primary-reddish);
}

/*============= 
    Footer 
===============*/

.footer-container {
  margin: 0 auto;
  width: 100%;
  padding: 0.75rem 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 195, 195);
}

.logo-small {
  width: 2.5rem;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/*============= 
   Media Queries 
===============*/

@media (min-width: 40em) {
  .none {
    display: none;
  }

  .transaction-container {
    padding: 2rem;
    min-height: 24.25rem;
  }

  .category-container {
    gap: 0.5rem;
    overflow-y: auto;
    max-height: 16rem;
  }

  .cash-edit-container {
    min-height: 24.25rem;
    min-width: 26.75rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 40em) {
  .none-mobil {
    display: none;
  }

  .manage {
    flex-direction: column;
  }

  .manage > div {
    min-width: 14rem;
    max-width: 17rem;
    margin: 0 auto;
  }

  .wrapper {
    margin: 1rem auto;
    width: min(100%, 26rem);
    padding: 2rem 1rem;
    padding-right: calc(1rem - 14px);
  }

  .table-expenses {
    padding: 0.65rem;
    grid-template-columns: 20fr 11fr 1fr;
  }

  .table {
    margin-right: 14px;
  }

  .question-container {
    padding: 3rem 2rem;
    min-width: 20rem;
    text-align: justify;
  }
}
